*{margin: 0;border: 0;}
h1{background:#10DBBE ;padding: 20px; color:#ffffff ;font-family: size;30px;text-align: center;}
h2{background:#ffffff ;padding: 20px; color:#090201 ;font-family: size;30px;text-align: center;}
